Question 1
Consider the following Python module:
a = 0 def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a=0 

def b():
    global a
    a = c(a)
    return a

def c(a):
    return a + 2

print(b())
print(b())
print(b())
print(a)

2
4
6
6

a = 0: Initializes the global variable a.
Function b():
Declares a as a global variable and modifies its value by calling c(a).
Function c(a):
Adds 2 to the passed value of a and returns it.
After calling b() three times, the final value of a will be 6, which is printed at the end.

Question 2
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
>>> fileLength('midterm.py') 284
>>> fileLength('idterm.py') Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module> fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 'idte
rm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
>>> fileLength('midterm.py') 358
>>> fileLength('idterm.py') File idterm.py not found.

In [6]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:  # Using 'with' to ensure the file is properly closed
            contents = infile.read()
            return len(contents)
    except FileNotFoundError:
        print(f"File {filename} not found.")

In [13]:
fileLength('currencies.txt')

477

In [15]:
fileLength("idterm.py")

File idterm.py not found.

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents() ['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents() ['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [37]:
# Marsupial class
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x},{self.y})'

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0)
print(k) 
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
>>> collatz(1) 1
>>> collatz(10) 10
5
16
8
4
2
1

In [55]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [61]:
collatz(1)

1

In [63]:
collatz(10)

10
5
16
8
4
2
1

In [ ]:
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
>>> binary(0) 0
>>> binary(1) 1
>>> binary(3) 11
>>> binary(9) 1001

In [65]:
def binary(n):
    if n < 2:
        print(n, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

In [67]:
binary(0)

0

In [69]:
binary(1)

1

In [71]:
binary(3)

11

In [73]:
binary(9)

1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should havindentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content) W3C Mission Principlese

In [75]:

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    flag = False
    indetation_value = 0

    def handle_starttag(self, tag, attrs):  
        if tag == "h1":  
            self.flag = True 
            self.indetation_value = 0

        elif tag == "h2":
            self.flag = True
            self.indetation_value = 1
        elif tag == "h3":
            self.flag = True
            self.indetation_value = 2
        elif tag == "h4":
            self.flag = True
            self.indetation_value = 3
        elif tag == "h5":
            self.flag = True
            self.indetation_value = 4
        elif tag == "h6":
            self.flag = True
            self.indetation_value = 5


    def handle_data(self, data):  
        if self.flag:
            print (self.indetation_value*"\t"+data)

    def handle_endtag(self, tag):  
        if tag == "h1":  
            self.flag = False
        elif tag == "h2":
            self.flag = False
        elif tag == "h3":
            self.flag = False
        elif tag == "h4":
            self.flag = False
        elif tag == "h5":
            self.flag = False
        elif tag == "h6":
            self.flag = False

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [308]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth < 0:
        return

    print(' ' * indent + url)

    if depth > 0:
        try:
            response = requests.get(url)
            soup = BeautifulSoup(response.text, 'html.parser')

            for link in soup.find_all('a', href=True):
                next_url = link['href']
                if not next_url.startswith('http'):
                    next_url = requests.compat.urljoin(url, next_url)
                webdir(next_url, depth - 1, indent + 4)

        except Exception as e:
            print(' ' * indent + f'Error: {e}')

if __name__ == "__main__":
    webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall reco
e) The ds.

Reffered https://medium.com/@tattwei46/how-to-use-python-with-mysql-79304bee8753 for connecting mysql with jupyter notebook.

In [387]:
import sqlite3

# Connect to a SQLite database (or create one if it doesn't exist)
conn = sqlite3.connect('W_Data.db')

# Create a cursor object
cursor = conn.cursor()

# Step 1: Create the WeatherData table
cursor.execute('''
CREATE TABLE IF NOT EXISTS W_data (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
);
''')

# Step 2: Insert the data
cursor.executemany('''
INSERT INTO W_data (City, Country, Season, Temperature, Rainfall) VALUES (?, ?, ?, ?, ?);
''', [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
])

# Commit the changes
conn.commit()

print(cursor.rowcount, "record(s) inserted.")

12 record(s) inserted.

a) All the temperature data.

In [409]:
cursor.execute('SELECT Temperature FROM W_data;')
temperatures = cursor.fetchall()
print("All Temperature Data:", temperatures)

All Temperature Data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

b) All the cities, but without repetition

In [393]:
cursor.execute('SELECT DISTINCT City FROM W_data;')
cities = cursor.fetchall()
print("Distinct Cities:\n", cities)

Distinct Cities:
 [('Mumbai',), ('London',), ('Cairo',)]

All the records for India

In [395]:
cursor.execute('SELECT * FROM W_data WHERE Country = "India";')
india_records = cursor.fetchall()
print("Records for India:", india_records)

Records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records

In [397]:
cursor.execute('SELECT * FROM W_data WHERE Season = "Fall";')
fall_records = cursor.fetchall()
print("Fall Records:", fall_records)

Fall Records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

 e) City, country, and season for average rainfall between 200 and 400 millimeters

In [399]:
cursor.execute('''
SELECT City, Country, Season 
FROM W_data 
GROUP BY City, Country, Season 
HAVING AVG(Rainfall) BETWEEN 200 AND 400;
''')
avg_rainfall_records = cursor.fetchall()
print("Average Rainfall Between 200 and 400 mm:", avg_rainfall_records)

Average Rainfall Between 200 and 400 mm: [('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

City and country for average Fall temperature above 20 degrees

In [401]:
cursor.execute('''
SELECT City, Country 
FROM W_data 
WHERE Season = "Fall" 
GROUP BY City, Country 
HAVING AVG(Temperature) > 20 
ORDER BY AVG(Temperature) ASC;
''')
avg_fall_temp_records = cursor.fetchall()
print("City and Country for Average Fall Temp Above 20:", avg_fall_temp_records)

City and Country for Average Fall Temp Above 20: [('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) Total annual rainfall for Cairo

In [403]:
cursor.execute('SELECT SUM(Rainfall) AS Total_Annual_Rainfall FROM W_data WHERE City = "Cairo";')
cairo_rainfall = cursor.fetchone()
print("Total Annual Rainfall for Cairo:", cairo_rainfall)

Total Annual Rainfall for Cairo: (27.6,)

h) Total rainfall for each season

In [405]:
cursor.execute('SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM W_data GROUP BY Season;')
seasonal_rainfall = cursor.fetchall()
print(f"Total Rainfall for Each Season:", seasonal_rainfall)

Total Rainfall for Each Season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [359]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

upper_words = [word.upper() for word in words]
print(upper_words)

lower_words = [word.lower() for word in words]
print(lower_words)

lengths = [len(word) for word in words]
print(lengths)

word_details = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_details)

long_words = [word for word in words if len(word) >= 4]
print(long_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']